<div class="Container">
    <div class="row">
        <div class="col-8" id="my-posts">
            <%= render @posts%>
            <div id="infinite-scrolling" style="display: none">
                <%= will_paginate @posts %>
            </div>
        </div>
        <div class="col-4">
        <div class="account-summary">
            <p class="m-0"><%=link_to image_tag(current_account.image.thumb.url, class: "m-r-15 img-circle float-left"), profile_path(current_account.username) if current_account.image.present? %> 
            <strong><%=link_to current_account.username, profile_path(current_account.username) %></strong><br>
             <span style="font-size: 15px"><%= current_account.full_name%></span>
            
            </p>
        </div>
        <div class="follower-suggestions">
        <%= link_to "See all", '#', class: "float-right text-dark"%>
        <strong><p class="text-muted">Suggestions for you</p></strong>
        <%= render "accounts/follower_suggestions" %>
        </div>
    </div>
</div>


