<div class="container" style="max-width: 700px !important; text-align: center; padding: 20px"><h4>Your Following</h4></div>
<div class="container main-container scroller">
    <% @my_following.each do |following|%>
                <% @account = Account.find_by_id(following.following_id)%>
                <% if !@account.nil? && !@account.username.nil?%>
                    <div class="container post-details follower-list put-shadow">
                        <div class="row" > 
                            <div class="col-sm-3 col-lg-2">
                                <%=link_to profile_picture(@account,40), profile_path(@account.username)  %>
                            </div>
                            <div class="col-sm-9 col-lg-10">
                                <%= form_tag unfollow_account_path, method: :post, class: "float-right" do %>
                                <%= hidden_field_tag :follow_id, @account.id %>
                                <%= submit_tag "Unfollow", class: "btn btn-danger btn-sm" %>
                                <% end %>

                                <%= link_to @account.username, profile_path(@account.username), class: "text-dark"%> 
                                <p class="text-muted"><%= @account.full_name%></p>
                                
                                
                            </div>
                        </div>
                    </div>
                <% end %>
            
    <%end%>
</div>